<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs APP</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .text_main {background-color: #F4F1D9; size: 3; }
        .main-title_style {background-color: #EA8548; color: #F3ECB4 ; font-weight:bold;}
        .frame {background-color: #EA8548; color: #F3ECB4;}
        .divider-color {background-color: #F4F1D9;}
        .link_bar_menu a {font-size:18px; font-weight:bold; float:justify; color: white }
        .link_bar_menu a:visited {font-size:18px; color: #F3ECB4;}
        .link_bar_menu a:active {font-size:18px; color: white; }
        .link_bar a {font-size:18px; font-weight:bold; float:justify; color: #EA8548 }
        .link_bar a:visited {font-size:18px; color: #EA8548;}
        .link_bar a:active {font-size:18px; color: #EA8548; }
    </style>
</head>
<body>
    <div class="main-title_style text-center">
        <h1><strong><font face = "CASTELLAR">Dream Dog</font></strong></h1>
        <i><font size="4">Pomożemy Ci znaleźć idealnego czworonożnego przyjaciela !</font></i>
        <div style="background-color: #EA8548"><br></div>
        <div class="divider-color" ><br></div>
    </div>
    <div class=container">
          <div class="columns">
              <div class="column col-2 frame">
                 <ul class="link_bar_menu">
                     <a href={{url_for("main_page")}}>Powrót do strony głównej</a>
                 </ul>
              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-7.5 text_main text-center">
                <div>System przeanalizował przesłane zdjęcie <br>
                    Rasa najbardziej zbliżona wyglądem do psa ze zdjęcia to<br><br>
                    <h3>{{ result }}</h3><br><br>
                    <img src="{{ user_image }}" alt="User Dream dog" title="User Photo" width="600" height="600">
                    <br>
                    <br>
                    <ul class="link_bar">
                        Aby dowiedzieć się więcej o {{ result }} kliknij w link<br><br>
                        <a href={{url_for("info_page")}}>Infomacje o rasie</a><br>
                    </ul>
                    <br>
                    <br>
                </div>
              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-2 frame" >
              </div>
          </div>
    </div>

</body>
</html>