<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs APP</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .text_main {background-color: #F4F1D9; size: 3; }
        .main-title_style {background-color: #EA8548; color: #F3ECB4 ; font-weight:bold;}
        .frame {background-color: #EA8548; color: #F3ECB4;}
        .divider-color {background-color: #F4F1D9;}
        .link_bar_menu a {font-size:18px; font-weight:bold; float:justify; color: white }
        .link_bar_menu a:visited {font-size:18px; color: #F3ECB4;}
        .link_bar_menu a:active {font-size:18px; color: white; }
        .link_bar a {font-size:18px; font-weight:bold; float:justify; color: #EA8548 }
        .link_bar a:visited {font-size:18px; color: #EA8548;}
        .link_bar a:active {font-size:18px; color: #EA8548; }
    </style>
</head>
<body>
    <div class="main-title_style text-center">
        <h1><strong><font face = "CASTELLAR">Dream Dog</font></strong></h1>
        <i><font size="4">Pomożemy Ci znaleźć idealnego czworonożnego przyjaciela !</font></i>
        <div style="background-color: #EA8548"><br></div>
        <div class="divider-color" ><br></div>
    </div>
    <div class=container">
          <div class="columns">
              <div class="column col-2 frame">
                 <ul class="link_bar_menu">
                     <a href={{url_for("main_page")}}>Powrót do strony głównej</a>
                 </ul>
              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-7.5 text_main text-center">
                <p class="text-bold"><font size="4">INFO o rasie</font></p><br><br>
                  <h3>{{ features[0 ]}}</h3><br><br>
                  <img src="{{ features[1] }}" title="{{ features[2] }}" width="600" height="600"
                       alt="Example dog photo">
                  <table class="column table table-striped table-hover p-centered">
                  <thead>
                    <tr>
                        <th class="col-2">Kraj pochodzenia</th>
                        <th class="col-2">Umaszczenie</th>
                        <th class="col-2">Sierść</th>
                        <th class="col-2">Długość życia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active">
                        <td>{{ features[3] }}</td>
                        <td>{{ features[4] }}</td>
                        <td>{{ features[5] }}</td>
                        <td>{{ features[6] }}</td>
                    </tr>
                  </tbody>
                </table>
                  <br>
                  <br>
                    Aby dowiedzieć się jeszcze więcej o rasie, kliknij w link<br>
                  <ul class="link_bar">
                      <a href="{{ features[7] }}">Infomacje o {{ features[0 ]}}</a><br>
                  </ul>
              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-2 frame" >

              </div>
          </div>
    </div>

</body>
</html>