<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs APP</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .text_main {background-color: #F4F1D9; size: 3; }
        .main-title_style {background-color: #EA8548; color: #F3ECB4 ; font-weight:bold;}
        .frame {background-color: #EA8548; color: #F3ECB4;}
        .divider-color {background-color: #F4F1D9;}
        .history_style {font-size:18px; font-weight:bold; float:justify; color: white }
        .button-style {background-color: #EA8548; color: white; font-size: 18px; border: 3px solid #C7C9CA ;}
    </style>
</head>
<body>
    <div class="main-title_style text-center">
        <h1><strong><font face = "CASTELLAR">Dream Dog</font></strong></h1>
        <i><font size="4">Pomożemy Ci znaleźć idealnego czworonożnego przyjaciela !</font></i>
        <div style="background-color: #EA8548"><br></div>
        <div class="divider-color" ><br></div>
    </div>
    <div class=container">
          <div class="columns">
              <div class="column col-2 frame" >

              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-7.5 text_main text-center">
                <p class="text-bold"><font size="4">Witaj w systemie Dream Dog !!!</font></p>
                <div>Aplikacja Dream Dog na podstawie przesłanego zdjęcia pozwoli Ci znaleźć Twojego wymarzonego psa.<br>
                System rozpoznawania ras psów wykorzystany w aplikacji rozróżnia 120 najpopularniejszych ras.<br>
                     Wierzymy, że Twój <b>DREAM DOG</b> również tu jest !!! <br>
                    <br>
                    <br>
                    Załaduj zdjęcie psa w formacie JPG, aby sprawdzić jaka to rasa.<br>
                    <form action="/img_resp/" method="post" enctype="multipart/form-data">
                        <label for="img"></label>
                        <input type="file" id="img" name="img" accept="image/*"><br><br>
                        <button type="submit" class="button-style">Prześlij</button><br><br>
                    </form>
                </div>

              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-2 frame history_style" >
                {% if history is defined and history|length > 0 %}
                  Twoja historia wyszukiwań:
                  {% for element in history %}
                        {{element}}<br>
                  {% endfor %}
                {% endif %}
              </div>
          </div>
    </div>

</body>
</html>