<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs APP</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .text_main {background-color: #F4F1D9; size: 3; }
        .main-title_style {background-color: #EA8548; color: #F3ECB4 ; font-weight:bold;}
        .frame {background-color: #EA8548; color: #F3ECB4;}
        .divider-color {background-color: #F4F1D9;}
        .link_bar_menu a {font-size:18px; font-weight:bold; float:justify; color: white }
        .link_bar_menu a:visited {font-size:18px; color: #F3ECB4;}
        .link_bar_menu a:active {font-size:18px; color: white; }
    </style>
</head>
<body>
    <div class="main-title_style text-center">
        <h1><strong><font face = "CASTELLAR">Dream Dog</font></strong></h1>
        <i><font size="4">Pomożemy Ci znaleźć idealnego czworonożnego przyjaciela !</font></i>
        <div style="background-color: #EA8548"><br></div>
        <div class="divider-color" ><br></div>
    </div>
    <div class=container">
          <div class="columns">
              <div class="column col-2 frame">
                 <ul class="link_bar_menu">
                     <a href={{url_for("main_page")}}>Powrót do strony głównej</a>
                 </ul>
              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-7.5 text_main text-center">
                <p class="text-bold"><font size="4">INFORMACJE o rasie</font></p><br>
                  Niestety, poszukiwana rasa psa nie występuje w bazie danych lub zestaw informacji jest niekompletny.<br>
                  Spróbuj poszukać informacji w innych źródłach.
                  <br>
                  <br>
              </div>
              <div class="divider-vert divider-color"></div>
              <div class="column col-2 frame" >

              </div>
          </div>
    </div>

</body>
</html>